/* Main container for the blog */
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
  text-align: center; /* Center text within the container */
}

.blog-form form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.blog-form form label {
  display: block; /* Ensure labels are displayed on a new line */
  text-align: left; /* Align labels to the left */
  font-weight: 600;
  margin: 10px 0;
}

.blog-form form input,
.blog-form form textarea,
.blog-form form select {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.blog-form .date {
  display: flex;
  margin-bottom: 15px;
}

.date .date-start {
  flex: 1; /* Menggunakan flex untuk mengatur lebar */
  margin-right: 30px;
}

.date .date-end {
  flex: 1; /* Menggunakan flex untuk mengatur lebar */
}

.form-container h3 {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
/* checkbox */

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.checkbox-container .check {
  display: flex;
  align-items: center;
  width: 200px;
}

.checkbox-container .check label {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.checkbox-container .check input {
  width: 20px;
  margin: 0 0 10px 0;
}

.check input {
  margin-right: 10px; /* Adjust as needed for spacing between checkbox and label */
}

.date label {
  margin-right: 10px;
  text-align: right;
}
.date input {
  flex: 1;
  padding: 5px;
}

.blog-form form textarea {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
  padding: 1px;
  border-radius: 10px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 30px;
  padding: 5px 15px;
  font-size: 12px;
  background-color: #111727;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

/* blog my project */
.blog-my-project {
  background-color: #f3f4f6;
  color: #111827;
}

.container-project {
  width: 100%;
}

.intro {
  text-align: center;
}

.intro h2 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #1f2937;
  margin-bottom: 1rem;
  display: inline-block; /* Ensures text-align works properly */
}

/* Individual Card Styles */
.card {
  width: 20%;
  box-sizing: border-box;
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* container cards */
.blog-cards {
  width: 1000px;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height:auto;
}

.card {
  width: 300px; /* Adjust as needed */
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-img {
  margin: 0px auto;
  width: 100%;
}

.card .container-img img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.card-content {
  width: 100%;
}

.container-content {
  text-align: left;
}

.card-content .container-content a {
  display: inline-block;
  text-decoration: none;
  color: #1f2937;
  font-weight: 700;
}

.container-content .description p {
  text-align: justify;
}

.card-content a:hover {
  text-decoration: underline;
}

.gabung-submit {
  display: flex;
  justify-content: space-between;
}

.submit-project {
  flex: 1;
}

.submit-project:first-child {
  margin-right: 10px;
}

.submit-project:last-child {
  margin-left: auto;
}

.submit-project button {
  width: 100%;
  background-color: #1f2937;
  color: #fff;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-project button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media only screen and (max-width: 576px) {
  .blog-form .form-container {
    width: 100%; /* Adjust the width for small screens */
    padding: 0 15px; /* Adjust padding as needed */
  }

  .checkbox-container {
    width: 100%; /* Full width for small screens */
    justify-content: center; /* Center checkboxes on small screens */
  }

  .checkbox-container .check {
    width: 100%; /* Full width for each checkbox on small screens */
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .blog-cards {
    width: 100%; /* Full width for small screens */
    justify-content: center; /* Center the cards on small screens */
  }

  .card {
    width: 60%; /* Full width for each card on small screens */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
}
