<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creating Blog Page - detail</title>
    <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/blog-detail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
            <img src="/assets/img/dumbwayslogo.png" class="navbar-logo" />
          </li>
          <li>
            <a href="/" class="navbar-link active"> Home </a>
          </li>
          <li>
            <a href="/add-blog" class="navbar-link"> Blog </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact Me</a>
          </li>
          <i
            class="fa-solid fa-bars fa-2x"
            style="cursor: pointer"
            id="hamburger-button"
            onclick="openHamburger()"
          ></i>
        </div>
      </ul>
      <div
        id="hamburger-navbar-container"
        class="hamburger-navbar-container hidden"
      >
        <a
          class="hamburger-navbar-link hamburger-active"
          href="index.html"
        >Home</a>
        <a class="hamburger-navbar-link" href="blog.html">Blog</a>
        <a class="hamburger-navbar-link" href="contact.html">Contact Me</a>
      </div>
    </nav>
    <!-- blog detail -->
    <div class="blog-detail">
      <h1>{{data.title}}</h1>
      <div class="blog-detail-container">
        <div class="blog-detail-up">
          <div class="blog-detail-left">
            <img src="/assets/img/{{data.img}}" alt="detail" />
          </div>
          <div class="blog-detail-right">
            <div class="duration">
              <p>Duration</p>
              <div class="icon-container-d icon">
                <div>
                  <i class="fa-solid fa-calendar-days"><span class="text">12 Jan
                      2021 - 11 Feb 2021</span></i>
                </div>
                <div>
                  <i class="fa-regular fa-clock"><span class="text">1 month
                    </span></i>
                </div>
              </div>
            </div>
            <div class="technologies">
              <p>Technologies</p>
              <div class="icon-container-t icon">
                <div>
                  {{#if data.nodejs_checked}}
                  <i class="fa-brands fa-node-js"><span class="text">Node Js</span></i>
                  {{/if}}
                </div>
                <div>
                  {{#if data.python_checked}}
                  <i class="fa-brands fa-python"><span
                      class="text"
                    >Python</span></i>
                  {{/if}}
                </div>
                <div>
                  {{#if data.php_checked}}
                  <i class="fa-brands fa-php"><span class="text">PHP</span></i>
                  {{/if}}
                </div>
                <div>
                  {{#if data.golang_checked}}
                  <i class="fa-brands fa-golang"><span
                      class="text"
                    >Golang</span></i>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-detail-down">
          <p>
             {{data.content}}
          </p>
        </div>
      </div>
    </div>
    <script src="./assets/js/nav.js"></script>
  </body>
</html>