<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
            <img src="./assets/img/dumbwayslogo.png" class="navbar-logo" />
          </li>
          <li>
            <a href="/" class="navbar-link"> Home </a>
          </li>
          <li>
            <a href="/add-blog" class="navbar-link"> Blog </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact Me</a>
          </li>
        </div>
      </ul>
    </nav>
    <div class="form-container">
      <form class="form" onsubmit="submitData(event)">
        <h3 class="title-form">GET IN TOUCH</h3>
        <label class="label-style" for="name">Name</label>
        <input class="input-style" id="name" />
        <label class="label-style" for="email">Email</label>
        <input class="input-style" id="email" />
        <label class="label-style" for="phoneNumber">Phone Number</label>
        <input class="input-style" id="phoneNumber" />
        <label class="label-style" for="subject">Subject</label>
        <select class="input-style" id="subject">
          <option>Frontend Developer</option>
          <option>Backend Developer</option>
          <option>Fullstack Developer</option>
        </select>
        <label class="label-style" for="massage">Your massage</label>
        <textarea class="input-style" id="massage"></textarea>
        <div style="width: 100%">
          <button class="btn-submit" onclick="submitData(event)">Submit</button>
        </div>
      </form>
    </div>
    <script src="./assets/js/contact.js"></script>
  </body>
</html>
