<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task9</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link rel="stylesheet" href="/assets/css/task8.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
            <img src="./assets/img/dumbwayslogo.png" class="navbar-logo" />
          </li>
          <li>
            <a href="/" class="navbar-link"> Home </a>
          </li>
          <li>
            <a href="/blog" class="navbar-link"> Blog </a>
          </li>
          <li>
            <a href="/testimonial" class="navbar-link active">Testimonial</a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact Me</a>
          </li>
          <i
            class="fa-solid fa-bars fa-2x"
            style="cursor: pointer"
            id="hamburger-button"
            onclick="openHamburger()"
          ></i>
        </div>
      </ul>
      <div
        id="hamburger-navbar-container"
        class="hamburger-navbar-container hidden"
      >
        <a class="hamburger-navbar-link hamburger-active" href="index.html"
          >Home</a
        >
        <a class="hamburger-navbar-link" href="blog.html">Blog</a>
        <a class="hamburger-navbar-link" href="contact.html">Contact Me</a>
      </div>
    </nav>
    <div class="container-card-oop">
      <h1>My Card with HOF</h1>
      <div class="container-rating">
        <h2>Rating By Star</h2>
        <div class="rating">
          <button class="rating-btn" onclick="allCard()">All</button>
          <button class="rating-btn" onclick="filterCard(1)">
            1 <i class="fa-solid fa-star"></i>
          </button>
          <button class="rating-btn" onclick="filterCard(2)">
            2 <i class="fa-solid fa-star"></i>
          </button>
          <button class="rating-btn" onclick="filterCard(3)">
            3 <i class="fa-solid fa-star"></i>
          </button>
          <button class="rating-btn" onclick="filterCard(4)">
            4 <i class="fa-solid fa-star"></i>
          </button>
          <button class="rating-btn" onclick="filterCard(5)">
            5 <i class="fa-solid fa-star"></i>
          </button>
        </div>
      </div>
      <section class="card-oops" id="card-oops"></section>
    </div>
    <script src="assets/js/nav.js"></script>
    <script src="assets/js/task9.js"></script>
  </body>
</html>
