/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  flex-direction: colomn;
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 15px;
  font-weight: 500;
}

.blog-form form input,
textarea,
select {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}
.blog-form .date {
  display: flex;
  margin-bottom: 15px;
}

.date .date-start {
  flex: 1; /* Menggunakan flex untuk mengatur lebar */
  margin-right: 30px;
}

.date .date-end {
  flex: 1; /* Menggunakan flex untuk mengatur lebar */
}

/* checkbox */

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.form-container h3 {
  font-size: 15px;
  font-weight: 500;
}

.checkbox-container .check {
  width: 48%;
}
.checkbox-container .check label {
  font-size: 15px;
  font-weight: 300;
}

.checkbox-container .check input {
  width: 20px;
}
.date label {
  margin-right: 10px;
  text-align: right;
}
.date input {
  flex: 1;
  padding: 5px;
}

.blog-form form textarea {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
  padding: 1px;
  border-radius: 10px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 30px;
  padding: 5px 15px;
  font-size: 12px;
  background-color: #111727;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

/* blog my project */
.blog-my-project {
  background-color: #f3f4f6;
  color: #111827;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Optional: to prevent scrolling if content overflows */
}

.container-project {
  width: 100%;
  max-width: none; /* Remove max-width constraint */
}

.intro {
  text-align: center;
}

.intro h2 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #1f2937;
  margin-bottom: 1rem;
  display: inline-block; /* Ensures text-align works properly */
}

/* Blog Cards Container */
/* Blog Cards Container */
.blog-cards {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Individual Card Styles */
/* Blog Cards Container */
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Individual Card Styles */
.card {
  width: 20%;
  box-sizing: border-box;
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* Card Image Styles */
/* Blog Cards Container */
.blog-cards {
  width: 1000px;
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Individual Card Styles */
.card {
  width: 300px; /* Adjust as needed */
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-img {
  margin: 0px auto;
  width: 100%;
}

/* Card Image Styles */
.card .container-img img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

/* Card Content Styles */
.card-content {
  width: 100%;
}

/* Card Title Styles */
/* .card-content h3 {
  margin-top: 0;
} */

.container-content {
  text-align: left;
}

/* Card Read More Link Styles */
.card-content .container-content a {
  display: inline-block;
  text-decoration: none;
  color: #1f2937;
  font-weight: 700;
}

.container-content p {
}

.container-content .description p {
  text-align: justify;
}

.card-content a:hover {
  text-decoration: underline;
}

.gabung-submit {
  display: flex;
  justify-content: space-between;
}

.submit-project {
  flex: 1;
}

.submit-project:first-child {
  margin-right: 10px;
}

.submit-project:last-child {
  margin-left: auto;
}

.submit-project button {
  width: 100%;
  background-color: #1f2937;
  color: #fff;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-project button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Blog Detail */
.blog-detail {
  display: flex;
  justify-content: center;
}

.blog-detail-container {
  width: 80%;
  margin: 40px 0;
}

.blog-detail-container img {
  width: 100%;
}

.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%; /* Full width for smaller screens */
  }
}
